@import '@ecl/ec-base/variables/index';

/* stylelint-disable  scss/at-extend-no-missing-placeholder */
/* stylelint-disable   selector-no-qualifying-type */

/* In this file we can put overrides to fix ecl styling issues */

.ecl-message {
  margin: 0 0 map-get($ecl-spacing, 'm');
}

/* Let tabs wrap on multiple lines  */

.ecl-navigation-list {
  flex-wrap: wrap;
}

.ecl-button {
  white-space: nowrap;
}

/* Active input border for input doesn't match form border */
.ecl-search-form__textfield-wrapper {
  margin: 0;
}

// change the color of the visited link

.ecl-link:visited {
  color: map-get($ecl-colors, 'blue-100');
}

// override '.ecl-link:visited' 

.ecl-link--inverted:visited {
  color: #fff;
}

// override 'make font-size checkbox same as other form elements'

.ecl-checkbox {
  font-size: 1rem;
}

// override '.ecl-link:visited' to make active class work

.ecl-link.ecl-navigation-list__link--active, 
.ecl-link.ecl-navigation-list__link[aria-selected='true'] {
  color: map-get($ecl-colors, 'grey-100');
}
 
/* Implement messages classes
 *
 * .ecl-message
 * .ecl-message--success
 * .ecl-message--warning
 * .ecl-message--error
 * .ecl-message--live
 */

.messages {
  @extend .ecl-message;

  align-items: center;
  grid-column-gap: 0.3em;
  grid-template-columns: min-content 1fr;
  min-height: calc(36px + 0.66rem);
}

.messages--status {
  background-image: url($ecl-assets-path+'images/messages-success.svg');
  border-color: $ecl-color-success;
}
.messages--warning {
  background-image: url($ecl-assets-path+'images/messages-warning.svg');
  border-color: map-get($ecl-colors, 'yellow-110');
}
.messages--error {
  background-image: url($ecl-assets-path+'images/messages-error.svg');
  border-color: $ecl-color-error;
}

body div.tabledrag-changed-warning {
  margin-bottom: 0.5em;
}

.ecl-row {
  margin-bottom: map-get($ecl-spacing, 'l');
  &:last-child {
    margin-bottom: 0;
  }
}

/* Breadcrumb: hide the current segment */
.ecl-breadcrumb__segment:nth-last-child(2) *::after{
  display: none;
}
.ecl-breadcrumb__segment--last:not(.ecl-breadcrumb__segment--first) {
  display: none;
}