@import '@ecl/ec-base/variables/index';

/* In this file we can put overrides to fix ecl styling issues */

.ecl-message {
  margin: 0 0 map-get($ecl-spacing, 'm');
}

/* Let tabs wrap on multiple lines  */

.ecl-navigation-list {
  flex-wrap: wrap;
}

.ecl-button {
  white-space: nowrap;
}

/* Active input border for input doesn't match form border */
.ecl-search-form__textfield-wrapper {
  margin: 0;
}