@import '@ecl/ec-preset-website/ec-preset-website';
@import './variables';
@import 'fontawesome/fontawesome';
@import 'fontawesome/solid'; 
@import './components/fut_mixins';
@import './components/basic-elements';
@import './components/document';
@import './components/form';
@import './components/toolbar';
@import './components/splash-page';
@import './components/pattern-page-header--futurium-header';
@import './components/site-header--banner';
@import './components/site-header--top-bar';
@import './components/contentmeta';
@import './components/display_links';
@import './components/page';
@import './ecl-fixes';
@import './components/teaser';
@import './components/teaser-lite';
@import './components/comments';
@import './components/front';
@import './components/block-discover-new-groups';
@import './components/groups-page';
@import './components/user';
@import './components/edit';
@import './components/views';
@import './components/group_list';


.main-content {
  .block {
    margin-bottom: map-get($ecl-spacing, 'm');
  }
  .block:last-child {
    margin-bottom: 0;
  }
}

/**
 * Required field
 */
.form-required::after {
  background-image: url('../images/required.svg');
  background-repeat: no-repeat;
  background-size: 8px 8px;
  content: '';
  display: inline-block;
  height: 8px;
  margin: 0 0.3em;
  vertical-align: super;
  width: 8px;
}

// Remove top margin from text formats containers.
.form-item-text-format-value + .ecl-form-group {
  margin-top: 0;
}
