@import '@ecl/ec-preset-website/ec-preset-website';
@import './components/_basic-elements';
@import './components/form';
@import './components/toolbar';
@import './components/splash-page';
@import './components/pattern-page-header--futurium-header';
@import './components/site-header--top-bar';
@import './components/contentmeta';
@import './components/page';
@import './ecl-fixes';
@import './components/teaser';

.main-content {
  .block {
    margin-bottom: map-get($ecl-spacing, 'm');
  }
}

/**
 * Required field
 */
.form-required::after {
  background-image: url('../images/required.svg');
  background-repeat: no-repeat;
  background-size: 6px 6px;
  content: '';
  display: inline-block;
  height: 6px;
  margin: 0 0.3em;
  vertical-align: super;
  width: 6px;
}

// Remove top margin from text formats containers.
.form-item-text-format-value + .ecl-form-group {
  margin-top: 0;
}

