$colors: (
  blue-120: #012b58,
  blue-110: #003776,
  blue-100: #004494,
  blue-75: #4073af,
  blue-50: #7fa1c9,
  blue-25: #bfd0e4,
  yellow-120: #f8ae21,
  yellow-110: #fbc11d,
  yellow-100: #ffd617,
  yellow-75: #ffde39,
  yellow-50: #ffe879,
  yellow-25: #fff4bb,
  grey-100: #404040,
  grey-75: #707070,
  grey-50: #9f9f9f,
  grey-25: #cfcfcf,
  grey-15: #e3e3e3,
  grey-10: #ebebeb,
  grey-5: #f5f5f5,
  purple-100: #550745
) !default;

/*
 * Aliases
 */

$color-primary: map-get($colors, 'blue-100') !default;
$color-secondary: map-get($colors, 'yellow-100') !default;
$color-shade: map-get($colors, 'grey-100') !default;
$white: #ffffff;
$black: map-get($colors, 'grey-100') !default;

$color-info: #006fb4 !default;
$color-warning: #f29527 !default;
$color-success: #467a39 !default;
$color-error: #da2130 !default;

$font-family-sans-serif: Arial, sans-serif !default;
$font-family-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$body__font: $font-family-sans-serif !default;
$headings__font: $font-family-sans-serif !default;

$text-color: map-get($colors, 'grey-75') !default;
