{#
/**
 * @file
 * Default theme implementation for rendering corporate blocks login.
 *
 * Available variables:
 *    TODO: see Footerblocks
 *
 * @see template_preprocess_corporate_blocks_login()
 *
 * @ingroup themeable
 */
 #}

<div class="login__corporate-top">

    <div class="ecl-dropdown cnct-dropdown" id="dropdown1">

        <button type="button" class="ecl-button ecl-button--primary ecl-expandable__button" aria-controls="example-button-dropdown1" aria-expanded="false" id="example-expandable-button1">Login</button>

        <div class="ecl-link-block ecl-dropdown__body bl-dropdown__body" id="example-button-dropdown1" aria-labelledby="example-expandable-button1" aria-hidden="true">

            <p>User Login</p>
            <button type="button" class="ecl-button ecl-button--call ecl-button--caret-right">Login with EU Login</button>
            <hr>
            <p><a href="#" class="ecl-link">I'm an existing Futurium user without a EU Login</a></p>
            <p><a href="#" class="ecl-link">No EU Login? Register here</a></p>
        </div>
    </div>

</div>