{#
/**
 * @file
 * Default theme implementation for rendering corporate blocks login.
 *
 * Available variables:
 *    TODO: see Footerblocks
 *
 * @see template_preprocess_corporate_blocks_login()
 *
 * @ingroup themeable
 */
 #}

<div class="login__corporate-top">

    <div class="ecl-dropdown cnect-dropdown" id="cnect-dropdown-register">

        <button type="button"
                id="cnect-expandable-button-register"
                class="ecl-button ecl-button--primary ecl-expandable__button"
                aria-controls="button-cnect-dropdown-register" aria-expanded="false">Register</button>

        <div id="button-cnect-dropdown-register"
             class="ecl-link-block ecl-dropdown__body bl-dropdown__body"
             aria-labelledby="cnect-expandable-button-register" aria-hidden="true">

            <p>Register to Futurium</p>
            <p><a href="#" class="ecl-link">Accept the European Commission's privacy policy.</a></p>
            <button type="button" class="ecl-button ecl-button--call ecl-button--caret-right">Register with EU Login</button>
        </div>
    </div>

</div>