@import '@ecl/generic-base/generic-base';

.block-views-blockfut-my-contributions-block-my-contributions {
  background: map-get($ecl-colors, 'grey-5');
  border: 1px solid map-get($ecl-colors, 'grey-15');
  border-radius: 3px;
  margin: 0 0 0 map-get($ecl-spacing, 'm') 0;
  padding: map-get($ecl-spacing, 'm');

  .ecl-list-item {
    border-bottom: 1px solid map-get($ecl-colors, 'grey-25');
  }

  footer {
    text-align: right;
  }

  footer a.views-display-link {
    @extend .ecl-button;
    @extend .ecl-button--call;
    @extend .ecl-button--caret-right;

    margin-bottom: map-get($ecl-spacing, 's');
    margin-top: map-get($ecl-spacing, 'm');
  }

}
