.block-views-blockfut-featured-groups-block-featured-groups {
  .views-element-container > div {
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap:    2rem;
    grid-template-columns: 1fr 1fr;
  }
  .ecl-list-item {
    border-bottom-style: none;
  }
}

.discover-groups__group-info {
  display: flex;
  flex-direction: row;
  .fut_logo {
    flex-shrink: 0;
    height: auto;
    margin-bottom: 1rem;
    margin-right: 1rem;
    max-height: 3rem;
    max-width: 3rem;
    width: auto;
  }
  .label {
    @include heading-3();
  }
  a {
    text-decoration: none;
  }
}

.discover-groups__group-description {
  margin-bottom: map-get($ecl-spacing, 'm');
}

.discover-groups {
  h3 {
    @include heading-4();
    margin: 0;
  }
}

.discover-groups__header {
  min-height: 8rem;
}

/* Remove teaser group name and teser footer from discover new groups on hp */

.discover-groups__content .teaser__header,
.discover-groups__content .teaser__footer {
  display: none;
}

.extra-field--join-group a {
  @extend .ecl-button;
  @extend .ecl-button--default;
}
