.breadcrumb {
  ol {
    list-style: none;
    margin: 0 0 3rem 0;
    padding: 0;
    li {
      a {
        /* box-shadow: none; */
      }
      display: inline-block;
      &:not(:last-child):after {
        content: ">"
      }
      &:only-child {
        display: none;
      }
    }
  }
}

.path-frontpage .breadcrumb {
  display: none;
}

@media (max-width: 768px) {
  .breadcrumb {
    ol {
      li {
        display: none;
        &:last-child,
        &:nth-last-child(2) {
          display: inline;
        }
        &:nth-last-child(2):after {
          content: "";
        }
        &:last-child:before {
          content: ">";
        }
        &:only-child {
          display: none;
        }
      }
    }
  }
}
