.sub-section--comments {

  &__title {
    padding-left: 3.6rem;
    min-height: 3.7rem;
    margin-bottom: 0.7rem;
    background-image: url(../images/article--comment-icon.svg);
    background-position: 0.5rem 0;
    background-repeat: no-repeat;
    background-size: 2.38rem 2.5rem;
  }


  .indented  {
    margin-left: 0rem !important;
    border-left: solid 2px #CCC;
    padding-left: 1.5rem;
  }

  .indented > .indented > .indented > .indented {
    margin-left: 0rem;
    border-left: none;
    padding-left: 0rem;

  }

  .comment {
    margin-bottom: 3rem;
  }

  /*
  .content {
    margin-left: 7.3rem;
  }
  */



  > ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;

    .profile-shortinfo {
      margin-top: 15px;
    }
  }

  .profile-shortinfo {
    margin-bottom: -2rem;

    ~ p {
      border-left: solid 2px #CCC;
      padding-left: 1.5rem;

      + p {
        border-left: solid 2px #CCC;
        padding-left: 1.5rem;
        margin-top: -1.6rem;
        padding-top: 1.6rem;
      }
    }
  }

  .comment-reply a {
    padding-left: 2.6rem;
    min-height: 3.7rem;
    background-image: url(../images/article--comment-outline-icon.svg);
    background-position: 0.5rem 0;
    background-repeat: no-repeat;
    background-size: 1.7rem 1.7rem;
    text-decoration: none;
  }

  .comment-edit a {
    padding-left: 2.6rem;
    min-height: 3.7rem;
    background-image: url(../images/article--edit-outline-icon.svg);
    background-position: 0.5rem 0;
    background-repeat: no-repeat;
    background-size: 1.7rem 1.7rem;
    text-decoration: none;
  }

  .comment-delete a {
    padding-left: 2.6rem;
    min-height: 3.7rem;
    background-image: url(../images/article--delete-outline-icon.svg);
    background-position: 0.5rem 0;
    background-repeat: no-repeat;
    background-size: 1.7rem 1.7rem;
    text-decoration: none;
  }
}
