@import '@ecl/generic-base/generic-base';

.ecl-comment {
  margin-bottom: map-get($ecl-spacing, 'm');

  .ecl-comment__body {
    background: #fff;
    border: 1px solid map-get($ecl-colors, 'grey-25');
    display: flex;
    padding: map-get($ecl-spacing, 'm');
    position: relative;

  }

  .ecl-comment__body::after, 
  .ecl-comment__body::before {
    border: solid transparent;
    content: ' ';
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 50px;
    width: 0;
  }

  .ecl-comment__body::after {
    border-right-color: #fff;
    border-width: 10px;
    margin-top: -10px;
  }

  .ecl-comment__body::before {
    border-right-color: map-get($ecl-colors, 'grey-25');
    border-width: 11px;
    margin-top: -11px;
  }

  .ecl-comment__image-wrapper {
    width: 80px;
    padding-right: map-get($ecl-spacing, 'm');
  }

  .ecl-comment__meta {
    line-height: map-get($ecl-spacing, 'm');
  }

  .ecl-comment__operations {
    margin-bottom: 0;
  }

}

.indented {
  margin-left: map-get($ecl-spacing, 'm');
}

.comment-form {
  margin-bottom: map-get($ecl-spacing, 'l');

  .field--name-comment-body {
    label {
      display: none;
    }
  }

  .filter-wrapper.ecl-form-group {
    margin-top: 0;
  }
}

// hide add new comment button

.comment-add a {
  display: none;
}

//////////////////////////////
// user profile comments list
//////////////////////////////

.views-field-comment-body {
  font-size: map-get($ecl-font-size, 's');
  line-height: map-get($ecl-spacing, 'm');
  margin-top: map-get($ecl-spacing, 'm');
  a {
    display: block;
    font-style: italic;
    margin-bottom: map-get($ecl-spacing, 's');
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.views-field-comment-body a:last-child::before,
.views-field-comment-body a:last-child::after {
  @extend %fa-icon;
  @extend .fas;
}

.views-field-comment-body a:last-child::before {
  content: fa-content($fa-var-quote-left);  
  padding-right: 10px;
}

.views-field-comment-body a:last-child::after {
  content: fa-content($fa-var-quote-right);    
  padding-left: 10px;
}

.views-field-created {
  color: map-get($ecl-colors, 'grey-75');
  font-size: map-get($ecl-font-size, 'xs');
  margin-bottom: map-get($ecl-font-size, 'xl');
}
