/* todo: needs to be removed. just for demo */
.bl-contentmeta__avatar img {
	border-radius: 50%;
	height: 3rem;
	margin-bottom: map-get($ecl-spacing, 'xxs');
	width: 3rem;
}

.bl-contentmeta__author-name {
	margin-bottom: map-get($ecl-spacing, 'xxxs');
}
