/* todo: needs to be removed. just for demo */
.bl-contentmeta__avatar img {
	border-radius: 50%;
	height: 3rem;
	margin-bottom: map-get($ecl-spacing, 'xxs');
	width: 3rem;
}

.bl-contentmeta__author-name {
	margin-bottom: map-get($ecl-spacing, 'xxxs');
}

.bl-contentmeta__date-time {
	color: map-get($ecl-colors, 'grey-75');
	font-size: map-get($ecl-font-size, 'xs');
}