.media--type-fut-document {
  background: #ebebeb;

  .fut_author.bl-field{
    @extend .ecl-file__info;

    margin-top: - map-get($ecl-spacing, 's');
    padding: 0 map-get($ecl-spacing, 'm') map-get($ecl-spacing, 'm');

    * {
      display: inline;
    }
  }
}

