.media--type-fut-document {
  background: #ebebeb;
  
  .fut_author.bl-field, 
  .fut_year_of_publication.bl-field,
  .fut_external_url.bl-field {
    @extend .ecl-file__info;

    color: #404040;
    font-size: map-get($ecl-font-size, 's');
    margin: 0 0 map-get($ecl-spacing, 'xxs') 0;
    padding: 0 map-get($ecl-spacing, 'm') 0 map-get($ecl-spacing, 'm');

    * {
      display: inline;
    }
  }
  
/* only for external URL */
  
  .fut_external_url.bl-field {
      padding-top: map-get($ecl-spacing, 'm');
  }
  
/* last field */
  
  .bl-field:last-child {
      padding-bottom: map-get($ecl-spacing, 'm');
  }
}

.media--type-fut-document .ecl-file + .bl-field {
  margin-top: 0;
  padding-top: 0;
}
