$bl-form-border: map-get($ecl-colors, 'grey-25') !default;
$bl-form-border-strong: map-get($ecl-colors, 'grey-50') !default;
$bl-form-background: map-get($ecl-colors, 'grey-5') !default;
$bl-form-background-dragged: map-get($ecl-colors, 'yellow-25') !default;
$bl-form-background-hover: map-get($ecl-colors, 'grey-10') !default;
$bl-form-background-header: map-get($ecl-colors, 'grey-15') !default;
$bl-fieldset-margin-v: map-get($ecl-spacing, 's');
$bl-fieldset-padding: map-get($ecl-spacing, 'm');
$bl-fieldset-padding-t: map-get($ecl-spacing, 'xl');

/* stylelint-disable  selector-max-compound-selectors */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable max-nesting-depth */
/* stylelint-disable no-descending-specificity */
.ecl-form {
  .ecl-button {
    margin-right: map-get($ecl-spacing, 'xs');
    margin-top: map-get($ecl-spacing, 'xxs');
  }

  .ecl-button:first-child {
    margin-left: 0;
  }

  .ecl-button:last-child {
    margin-right: 0;
  }

  .ecl-table tr {
    border-bottom: 1px solid $bl-form-border;
  }
  
  .ecl-table tr.drag-previous {
    background-color: $bl-form-background-dragged;
  }

  .ecl-table tr:hover {
    background-color: $bl-form-background-hover;
  }

  tr:hover .ecl-checkbox__label::before {
    background-color: $bl-form-background-hover;
  }

  .ecl-table tr:nth-of-type(2n):not(:hover):not(.drag-previous) {
    background-color: unset;
  }

  .permissions .ecl-form-label.ecl-checkbox {
    text-align: center;
  }

  .ecl-table th {
    background-color: $bl-form-background-header;
    border: solid 1px $bl-form-border-strong;
    border-width: 1px 0;
  }

  th h4 {
    margin: 0;
  }

  table.sticky-header {
    border-spacing: 0;
  }

  table.sticky-header th{
    background-color: $bl-form-background-header;
    border: solid 1px $bl-form-border-strong;
    border-width: 1px 0;
    padding: 0.89rem;
    text-align: left;
  }

  .ecl-table thead tr:first-child th {
    border-bottom: solid 1px $bl-form-border-strong;
  }

  td .description {
    font-size: 0.89em;
    line-height: 1.4;
    margin-top: map-get($ecl-spacing, 'xxxs');
  }

  %button.link {
    background: transparent;
    border: 0;
    color: $ecl-color-primary;
    cursor: pointer;
    font-size: 0.89em;
    line-height: 2;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  button.link {
    @extend %button.link;
  }

  button.link:hover {
    text-decoration: underline;
  }

  summary ~ div {
    padding: 0 $bl-fieldset-padding $bl-fieldset-padding;
  }

  .compact-link a {
    @extend %button.link;

    &:hover {
      text-decoration: underline;
    }
  }

  .chosen-container {
    padding-left: 0;
    padding-right: 0;
  }

  .chosen-single {
    background: none;
    border: 0;
    box-shadow: none;
  }

  .chosen-single span ~ div {
    display: none;
  }

  .delta-order select {
    float: right;
    width: auto;
  }

  .vertical-tabs,
  .vertical-tabs__menu,
  .vertical-tabs .vertical-tabs__panes {
    font-size: 1em;

  }

  .vertical-tabs .vertical-tabs__panes .ecl-checkbox {
    font-size: 1em;
  }

  .vertical-tabs .vertical-tabs__menu-item {
    background-color: $bl-form-background;
  }

  .vertical-tabs .vertical-tabs__menu-item-summary,
  .vertical-tabs .vertical-tabs__panes .ecl-help-block.description {
    font-size: 0.89em;
    line-height: 1.2;
  }

  .vertical-tabs .vertical-tabs__panes {
    padding: map-get($ecl-spacing, 'xs');

    .ecl-help-block {
      margin-top: map-get($ecl-spacing, 'xxxs');
    }
  }

  .vertical-tabs__menu-item a {
    padding: map-get($ecl-spacing, 'xs');
  }

  .js-form-type-textarea ~ .ecl-form-group {
    margin-top: 0;
  }

  .form-autocomplete {
    background-position-x: 99%;
  }

  /* Draggable area for paragraphs */
  .draggable .ecl-table__group-label {
    vertical-align: top;
  }

  .draggable .paragraphs-subform.ecl-form-group{
    margin-top: map-get($ecl-spacing, 'xxs');
  }

  fieldset:not(.fieldgroup) {
    background-color: $bl-form-background;
    border: 1px solid $bl-form-border;
    border-radius: 0;
    margin: $bl-fieldset-margin-v 0;
    min-width: 0;
    padding: $bl-fieldset-padding-t $bl-fieldset-padding  $bl-fieldset-padding;
    position: relative;
  }

  fieldset:not(.fieldgroup) > legend {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.08em;
    position: absolute;
    text-transform: uppercase;
    top: 10px;
  }

  fieldset details {
    background-color: $bl-form-background;
    border: 1px solid $bl-form-border;
    border-radius: 0;
    margin-bottom: $bl-fieldset-margin-v;
    margin-top: $bl-fieldset-margin-v;

    summary {
      color: $ecl-color-primary;
      cursor: pointer;
      font-weight: bold;
      padding: $bl-fieldset-padding  $bl-fieldset-padding;
      text-transform: uppercase;
    }
  }

}
