.fut-group-tags .view-content {
  @extend .ecl-tag;
  border-top: 1px solid map-get($ecl-colors, 'grey-10');
  padding-top: map-get($ecl-spacing, 'l');
}

.fut-group-tags a {
  @extend .ecl-tag__item;
  margin-bottom: map-get($ecl-spacing, 's');
}
