.general-footer--card {
      position: relative !important;
      bottom:auto;
      z-index: auto;
      width: 100%;

      ul.menu {
      padding: 0;
      margin: 1.5rem;
      margin-top: 3rem;

      li {
        display: inline-block;

        &::after {
          content: " | ";
        }

        &:last-child::after {
          content: "";
        }

        a {
          //color: $gray-500;
          transition: all .2s ease;

          &:hover {
            //color: $darkblue;
            transition: all .2s ease;
          }

        }
      }
    }
  }

.general-footer {
  h2 {
    margin: 0;
  }

  a {
    //color: $gray-500;
    transition: all .2s ease;

    &:hover {
      //color: $pink;
      transition: all .2s ease;
    }
  }
}

@media (min-width: 768px) {
  .general-footer {
    z-index: 500;
    //background: $gray-800;

    ul.menu {
      padding: 0;
      margin: 0;
      li {
        display: inline-block;

        &::after {
          content: " | ";
        }
      }
    }

    &--card {
      position: relative !important;
      bottom:auto;
      z-index: auto;
      width: 100%;

      ul.menu {
      padding: 0;


      li {
        display: inline-block;

        &::after {
          content: " | ";
        }

        a {
          //color: $gray-500;
          transition: all .2s ease;

          &:hover {
            //color: $darkblue;
            transition: all .2s ease;
          }

        }
      }
    }
  }
  }
}

@media (min-width: 992px) {
  .general-footer {
    //background-color: $gray-800;

    &--card {
      background-color: transparent;
      bottom: auto;
      z-index: auto;
      width: 100%;
      height: auto;
      padding: 0;
    margin-bottom: 0;

      > * {
        position: auto;
        width: 100%;
        max-width: 100%;
      }

      ul.menu {
        position: relative;
        width: 100%;
        bottom: 0;
      }

    }

  }
}
