.main-content {
  .password-strength {
    .is-weak {
      background-color: $ecl-color-error;
    }

    .is-fair {
      background-color: $ecl-color-warning;
    }

    .is-good,
    .is-strong {
      background-color: $ecl-color-success;
    }
  }

  /* @see @ec-europa/ecl-forms-help-blocks/_help-blocks.scss */
  .password-strength .password-strength__title,
  .password-suggestions.description,
  .password-confirm,
  .filter-help {
    @extend .ecl-help-block;
  }
}

/* style fields coming from EULogin */
.eulogin-field-group {
  .ecl-form-label,
  .ecl-help-block,
  .ecl-text-input {
    color: map-get($ecl-colors, 'grey-25');
  }
  .ecl-text-input {
    border: 1px solid map-get($ecl-colors, 'grey-25');
  }
}

/* added margin to cke editor to fix margin for the label */
.ecl-textarea + .cke {
  margin-top: map-get($ecl-spacing, 's');
}

/* show required checkbox asterix */

input[type="checkbox"] {
    &[required] + .ecl-checkbox__label:after {
      // @include abc;
      content: "*";
      color: red;
    }
}
