@mixin fut-header-1() {
  color: #000;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem
}

@mixin fut-header-2() {
 color: #000;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2rem;
}

@mixin fut-header-3() {
  color: #000;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
}

@mixin fut-header-4() {
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

@mixin block-background() {
  background: map-get($ecl-colors, 'grey-5');
  border: 1px solid map-get($ecl-colors, 'grey-15');
  border-radius: 3px;
  margin: 0 0 0 map-get($ecl-spacing, 'm') 0;
  padding: map-get($ecl-spacing, 'm');
}

@mixin hide() {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;  
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap; /* added line */
  width: 1px;
}
