.pre-featured {
  grid-area: pre-featured;
}

.featured {
  grid-area: featured;
}

.content {
  grid-area: content;
}

.sidebar {
  grid-area: sidebar;
}

.group-landing-page {
  display: grid;
  grid-gap: 2rem;
  grid-row-gap: 1rem;
  grid-template-areas:
    'pre-featured'
    'featured'
    'content'
    'sidebar';
}

@media only screen and (min-width: 600px) {
  .group-landing-page {
    grid-gap: 2rem;
    grid-template-areas:
      'pre-featured pre-featured'
      'featured featured'
      'content sidebar';
    grid-template-columns: 4fr 3fr;
  }
}

/* Call to action article */

.cta__body {
  grid-area: cta__body;
}

.cta__media {
  grid-area: cta__media;
}

.cta {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas:
    'cta__body cta__media';
  grid-template-columns: 4fr 3fr;
}

/* when there is a vidoe, it should align left */

.cta--video {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas:
    'cta__media cta__body';
  grid-template-columns: 3fr 4fr;
}
