.group-teaser {
  display: grid;
  grid-column-gap: map-get($ecl-spacing, 'm');
  grid-template-areas:
    'group-logo group-label'
    'group-logo group-description'
    'group-logo group-join';
  grid-template-columns: 40px 1fr;
  padding: map-get($ecl-spacing, 'm') 0;
  
  .img-placeholder {
    background: #f7f7f7 url($ecl-assets-path+'images/default_group_icon.png');
    height: 40px;
    width: 40px;
    background-size: 40px 40px;
  }

  .fut_logo {
    grid-area: group-logo;
    margin-bottom: 0;
  }

  h3 {
    grid-area: group-label;
    margin-top: 0;
    
    @include fut-header-3;
    a {
      text-decoration: none;
      &:hover {
        color: $ecl-color-shade;
        text-decoration: underline;
      }
    }
  }

  .fut_description {
    grid-area: group-description;
  }

  .extra-field--join-group {
    grid-area: group-join;
  }
}

.fut-groups-list .views-row-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  column-gap: map-get($ecl-spacing, 'xl');

  @include ecl-media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }
    
  @include ecl-media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}
