////////////////////////////////
// group landing page structure
////////////////////////////////

/* Define grid areas */

.fut_banner {
  grid-area: pre-featured;
  margin-bottom: map-get($ecl-spacing, 'm');
}

.block-views-blockfut-group-subgroups-list-block-group-subgroups {
  grid-area: featured;
  overflow-y: hidden;
  padding-bottom: map-get($ecl-spacing, 'm');
}

.content {
  grid-area: content;
}

.sidebar {
  grid-area: sidebar;
}

.group-landing-page {
  
  // One column grid layout 
  display: grid;
  grid-gap: 2rem;
  grid-row-gap: 1rem;
  grid-template-areas:
    'pre-featured'
    'featured'
    'content'
    'sidebar';

  // Two column grid layout   

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up(md) {
    grid-template-areas:
      'pre-featured pre-featured'
      'featured featured'
      'content sidebar';
    grid-template-columns: 4fr 3fr;
  }
}

////////////////////////
// call to action area
///////////////////////

/* Call to action for small screens */

.cta {
  grid-template-rows: auto;
  display: grid;
  grid-template-areas:
    'cta__title'
    'cta__body'
    'cta__media'
    'cta__link';

  .fut_banner_media {
    grid-area: cta__media;
  }

  .field_media_image {
    border: 3px solid $ecl-color-shade;
  }

  .fut_label {
    grid-area: cta__title;
    @include fut-header-2();
  }

  .fut_text {
    grid-area: cta__body;
  }

  .fut_link {
    grid-area: cta__link; 
  }

  .fut_link a {
    @extend .ecl-button;
    @extend .ecl-button--call;
    @extend .ecl-button--caret-right;
  }

  // Two columns

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up(md) {
    grid-column-gap: 2rem;
    grid-template-areas:
      'cta__title cta__media'
      'cta__body cta__media'
      'cta__link cta__media';
    grid-template-columns: 5fr 3fr;
    grid-template-rows: min-content min-content 1fr; 
    .ecl-button {
      width: auto;
    }
  }

  @include ecl-media-breakpoint-down(sm) {
    .fut_link a {
      text-align: center;
      width: 100%;
    }
  }
}

// when there is a video, it should align left 

.cta--video {
  .fut_banner_media {
    border: none;
    margin-bottom: 0;
  }

  @include ecl-media-breakpoint-up(md) {
    grid-template-areas:
      'cta__media cta__title'
      'cta__media cta__body'
      'cta__media cta__link';
    grid-template-columns: 4fr 3fr;
  }
}

/////////////////////
// subgroups block 
/////////////////////

.block-views-blockfut-group-subgroups-list-block-group-subgroups {

  // remove default borders on list items 
  .ecl-list-item {
    border: initial;
  }
  .ecl-list-item:first-child {
    border: initial;
  }

  // define grid for subgroups block 
  .views-row-wrapper {
    display: grid;
    grid-auto-columns: calc(100% - 5rem);
    grid-auto-flow: column;
    grid-column-gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x proximity;
    
    @include ecl-media-breakpoint-up(sm) {
      grid-column-gap: 2rem;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 1fr; 
    }
  }
}

.group-teaser-lite__link {
  background-color: map-get($ecl-colors, 'blue-25');
  color: $ecl-color-shade;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 1rem;
  // scroll-snap-align is a required property for a scroll-snapping element within a scroll-snapping container
  scroll-snap-align: center;
  text-decoration: none;
 
  .fut_logo {
    margin-right: 1rem;
    order: 0;
  }
  .label {
    color: $ecl-color-shade;
    font-size: map-get($ecl-font-size, 'm');
    font-weight: bold;
    margin: 0;
    order: 1;
  }
  .fut_logo img {
    border: 3px solid #fff;
    max-width: 50px;
  }
}
