.new-item {

  position: fixed;
  right: 0px;
  bottom: 10px;
  width: 21vw;
  text-align: center;

  .create-new {
    background: url(../images/new-item__button__background--sm.svg) no-repeat center center;
    background-size: 42px 42px;
    border: none;
    height: 45px;
    width: 45px;
    font-size: 2.2rem;
    font-weight: normal;
    text-align: left;
    &:before {
      @include fa-icon;
      @extend .fas;
      padding-right: 10px;
      content: fa-content($fa-var-pencil-alt);
    }
  }
}

.pre-banner {
  width: 100%;
  max-width: 768px;

  background-image: url(../images/header-arch-only.svg);
  background-repeat: no-repeat;
  background-size: 100% 82px;

  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  min-height: 82px;
  z-index: 1200;
}

.logo-wrapper--index {
  box-shadow: 0px 0px 82px 13px rgba(255,255,255,0.60);
  background-color: rgba(#FFF, 0.40);
  padding: 15px;
  border-radius: 35px;
  max-width: calc(32em + 30px);
  margin: auto;
  box-sizing: border-box;
}

.background--talk {
  background-image: url(../images/homepage-illustration.jpg);
  background-repeat: no-repeat;
  background-size: 768px 400px;
  background-size: contain;
  background-position: center top;
  min-height: calc(20vh + 82px);
  background-color: #FFF;
  padding: 120px 15px 0 15px;
  text-align: center;
}

.logo {
  width: 100%;
  max-width: 515px;
  height: auto;
  margin: auto;
}

.general-header {
  width: 100%;
  /*background-image: url(../images/body-bckgrd--md.svg);
  background-repeat: repeat-x;
  background-position: 50% top;
  background-attachment: fixed;
  background-size: 100% 80px;
  */
  background-color: $purple;
  background-image: linear-gradient(to bottom, #1a3773 50%,  #492c87);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  z-index: 100;
  height: 70px;
  padding: 20px;
}



/*

@media (min-width: 768px) {
  .general-header {
    position: fixed;
    z-index: 5;
    right: auto;
    bottom: auto;
    left:0;
    top:0;
    width: 33%;
    background: $gray-800;
    float: left;
    height: 100vh;
    padding: 90px 15px 130px;
    overflow: auto;
  }


  .new-item {

    position: relative;
    right: auto;
    bottom: auto;
    width: 100%;
    text-align: left;

    .create-new {
      display: block;
      background: rgba($white, 1);
      background-size: auto;
      border: none;
      height: auto;
      width: 100%;
      font-size: 1.6rem;
      line-height: 1.8;
      padding: 0.5rem 0.8rem;
      border-radius: 0.5rem;
      border: solid 3px rgba($cyan, 1);
      color: $gray-900;
      text-shadow: none;
      box-shadow: none;
      transition: background-color 0.2s;

      svg {
        margin-right: 1.5rem;
      }

      &:hover {
        box-shadow: none;
        background: rgba($cyan, 1);
        transition: background-color 0.2s;
        color: $gray-900;
      }

      &.active {
        background: rgba($white, 0.1);
        border-bottom: none;
      }
    }
  }

}

@media (min-width: 992px) {
  .general-header {
    position: fixed;
    right: auto;
    bottom: auto;
    left: auto;
    top:auto;
    width: 25%;
    max-width: 300px;
    background: $gray-800;
    float: left;
    height: 100vh;
    padding: 90px 15px 15px;
  }
}

*/

.block-system-branding-block {
  float: left;
}
