.nav--tabs::-webkit-scrollbar{width:2px;height:2px;}
.nav--tabs::-webkit-scrollbar-button{width:2px;height:2px;}

.inpage-nav {
  border-bottom: solid 1px $gray-300;
  margin-bottom: 15px;

  .nav--tabs {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0 0 0 0;
    width:100%;
    overflow-x: auto;

    li {
      list-style: none;
      display: block;
      padding: 0 15px 0 0;

      a {
        display: block;
        white-space: nowrap;
        box-shadow: none;
        box-shadow: none;
        text-shadow: none;
        padding: 10px 0 5px 0;
        border-bottom: 5px solid $white;
      }

      a:hover {
        border-bottom: 5px solid #a6a7ab;
        transition: all 0.2s;
      }

      a.is-active {
        color: $text-color;
        font-weight: 600;
        border-bottom: 5px solid $purple;
        transition: all 0.2s;
      }

      a.is-active:hover {
        cursor: default;
      }
    }
  }

}

.background--talk .inpage-nav {
  border-bottom: none;
  .nav--tabs {
    padding-left: 0;
  }
}

.tab-content {
  .tab-pane {
    display: none;
  }

  .tab-pane.active {
    display: block;
  }
}
