$logo__font-weight: bold !default;
$logo__color: $gray-900 !default;
$logo-area__background-image: none !default;
$logo-area__background-image--sm: $logo-area__background-image !default;
$logo-area__background-image--md: $logo-area__background-image !default;
$logo-area__background-image--lg: $logo-area__background-image !default;

.logo-area {
  background-image: linear-gradient($darkblue, $darkblue), $logo-area__background-image--sm;
  background-repeat: no-repeat;
  background-size: 100vw 26px, 100vw 10vh;
  background-position: center 0, center 25px;
  height: 100px;
  width: 100vw;
}

img.logo {
  height: auto;
}

img.logo-cover {
  max-width: 100%;
  height: auto;
}

h1.logo--title {
  margin: 0;
  padding: 15px;
  padding-bottom: 0;
}

a.logo__link {
  text-decoration: none;
  text-shadow: none;
  box-shadow: none;
  display: block;
  background-image: url(../images/logo_futurium_lab_negatif.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: calc(70vw - 15px);
  max-width: 300px;
  height: 0;
  padding-top: 13.6%;
  //width: 70vw;
  //max-width: 300px;

  span {
    visibility: hidden;
  }
}

/*.logo--title {
  font-weight: $logo__font-weight;
  color: $logo__color;
  margin: 0;
  padding: 1.5vw;
}*/

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .logo-area {
    position: fixed;
    z-index: 6;
    top:0;
    // background image defined in the navigation for z-index issue
    background-image: none;
    width: 33%;
    padding: 15px;
  }


  h1.logo--title {
  margin: 0;
  padding: 0px;
}

  a.logo__link {
    width: 100%;
     background-size: cover;
  }

}

@media (max-width: 767.98px) and (orientation: landscape) {
  .logo-area {
    background-size: 100vw 25px, 100vw 19vh;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .logo-area {
    width: 25%;
    max-width: 300px;
  }

  h1.logo--title {
  max-width: 270px;
}


}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
