.bl-node--full {
  width: 100%;
  
  @include ecl-media-breakpoint-up(lg) {
    display: flex;
    flex-direction: row;
  }

  // sidebar with content meta post or event

  .bl-node__side {
    margin-bottom: map-get($ecl-spacing, 'm');
    
    @include ecl-media-breakpoint-up(lg) {
      flex: 1 0 150px;
      padding: 0 map-get($ecl-spacing, 'm');
    }
  }

  // content area

  .bl-node__content {
    margin-bottom: map-get($ecl-spacing, 'xs');
  }
}
