.bl-node--full {
  width: 100%;
  
  @include ecl-media-breakpoint-up(lg) {
    display: flex;
    flex-direction: row;
  }

  // sidebar with content meta post or event

  .bl-node__side {
    margin-bottom: map-get($ecl-spacing, 'm');
    
    @include ecl-media-breakpoint-up(lg) {
      flex: 0 0 150px;
      padding: 0 map-get($ecl-spacing, 'm');
    }
  }

  // content area

  .bl-node__content {
    flex: 1 1 auto;
    margin-bottom: map-get($ecl-spacing, 'xs');
  }
}

  // node unpublished

.node--unpublished {
  background-color: #fff4f4;
}

/* Page title */
.block-page-title-block h1,
.main-content * + h1 {
  margin-top: 0;
}

.path-group-home .block-page-title-block h1,
.path-user .block-page-title-block h1 {
  display: none;
}

.main-content .block.block-page-title-block {
  margin-bottom: 0;
}
