.pager {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 1em 0;
  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    float: left;
    margin: 0 5px 0 0;
    a {
      padding: 5px 9px;
      border-radius: 50%;
      text-decoration: none;
      text-shadow: none;
      box-shadow: none;
      &:hover {
        cursor: pointer;
      }
    }
  }
   &__item.is-active a{
    background: $color-primary;
    color: $white;
  }
  &__item--first,
  &__item--previous,
  &__item--next,
  &__item--last {
    display: none;
  }
}

@media (min-width: 768px) {
  .pager {
    &__item--first,
    &__item--previous,
    &__item--next,
    &__item--last {
      display: block;
      a {
        padding: 0 3px 0 3px;
      }
    }
  }
}
