.ecl-page-header__identity {
  grid-area: identity;
  margin-top: 0;
}

.ecl-page-header__title {
  grid-area: group-title;
  margin-top: 0;
  a {
    text-decoration: none;
  }
  .ecl-heading--h1 {
    @include fut-header-2();
    
    color: #fff;

    @include ecl-media-breakpoint-up(md) {
      @include fut-header-1();
      
      color: #fff;
    }
  }	
}

.bl-page-header__group-image {
  grid-area: group-image;
  margin-bottom: map-get($ecl-spacing, 'xs');
  margin-right: map-get($ecl-spacing, 'xs');
  // margin-top: map-get($ecl-spacing, 'xxs');
  img {
    height: auto;
    width: 100px;
  }
}

.ecl-page-header__meta {
  grid-area: group-meta;
  margin-bottom: map-get($ecl-spacing, 'xs');
}

.bl-page-header__join {
  grid-area: group-join;
  margin-bottom: map-get($ecl-spacing, 'xxs');
}

.ecl-page-header__body {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-areas:
    'identity identity'
    'group-image group-title'
    'group-image group-join'
    'group-meta group-meta';
  grid-template-columns: 100px 1fr;
  margin-top: map-get($ecl-spacing, 's');

  @include ecl-media-breakpoint-up(md) {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-areas:
      'group-image identity group-join'
      'group-image group-title group-join'
      'group-image group-meta group-join';
    grid-template-columns: 100px 1fr min-content;
  }
}

// out of group context 

.ecl-page-header--no-group-image {
  .ecl-page-header__body {
    display: grid;
    grid-template-areas:
      'identity'
      'group-title'
      'group-meta';
    grid-template-columns: 1fr;
  }
}
