@import '@ecl/generic-base/generic-base';

.teaser--fut-teaser-lite {

  .teaser__header {
    margin-bottom:  map-get($ecl-spacing, 'xxs');
  }

  .teaser__group-name a {
    font-weight: bold;
  }

  h3 {
    font-size: initial;
    font-weight: normal;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-top: map-get($ecl-spacing, 'xxs');
  }

  .teaser__group-name {
    font-size: map-get($ecl-font-size, 's');
  }

  .teaser__footer {
    font-size: map-get($ecl-font-size, 'xs');
  }
}
