@import '@ecl/generic-base/generic-base';

.teaser {
  padding-bottom: map-get($ecl-spacing, 'm');

  /* padding-top: map-get($ecl-spacing, 'm'); */

  a {
    text-decoration: none;
  }

  a:hover {
    color: $ecl-color-shade;
    text-decoration: underline;
  }

  h3 {
    margin-bottom: map-get($ecl-spacing, 's');
    margin-top: map-get($ecl-spacing, 's');
  }

  .teaser__header {
    align-items: center;
    margin-bottom: map-get($ecl-spacing, 's');
    margin-top: map-get($ecl-spacing, 'm');

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } 

  /* component contentmeta */

  .bl-contentmeta {
    display: flex;
    flex-direction: row;
  }

  .bl-contentmeta__header {
    flex-shrink: 0;
    height: auto;
    margin-right: map-get($ecl-spacing, 's');
    max-height: 3.1rem;  
    max-width: 5.55rem; 
    width: auto;
  }

  // .bl-contentmeta__date-time {
  //   color: map-get($ecl-colors, 'grey-75');
  // }

  .bl-contentmeta__author-name {
    margin-bottom: map-get($ecl-spacing, 'xxs');
  }

  .cnect-date-widget {
    margin-bottom: 0;
    margin-right: map-get($ecl-spacing, 'm');
  }

  /* comments count */ 

  .bl-comments-count {
    margin-left: auto;
  }

  .teaser__footer {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    font-size: map-get($ecl-font-size, 'xs');
    margin-top: 1rem;
    color: map-get($ecl-colors, 'grey-75');
  }

}

.fut-paragraph-summary {
  color: #404040;
  font-size: map-get($ecl-font-size, 's');
  line-height: 1.5;
  margin-bottom: 0;
}

.logged-in {
  display: none;
}

.user-logged-in .non-logged-in {
  display: none;
}

.user-logged-in .logged-in {
  display: block;
}

/* needs to move to component? */

.teaser__content-type-name {
  color: map-get($ecl-colors, 'grey-75');
  font-size: map-get($ecl-font-size, 'xs');
  text-align: right;
  text-transform: uppercase;
  padding: map-get($ecl-spacing, 'xxs');
  padding-right: 0;
  background: #fff;
}

.teaser__group-info {
  white-space: nowrap;
  span {
    display: inline-block;
    white-space: nowrap;
  }
}

.teaser__group-image {
  margin-right: map-get($ecl-spacing, 'xxs');
}

.teaser__group-image img {
  height: 30px;
  vertical-align: middle; 
  width: 30px;
}

/* override .bl-image-wrapper img */ 
.teaser__group-info .bl-image-wrapper img {
  display: inline-block;
  margin-bottom: 0;
}

/* stylelint-disable */
.teaser__group-name {
  font-weight: bold;
  padding: 0;
  padding-right: map-get($ecl-spacing, 'xxs');
  a {
    vertical-align: middle;
  }
}
/* stylelint-enable */

/* Teaser event */
.teaser--fut-event {
  .teaser__content > h3 {
    margin-top: 0;
  }
  .teaser__body {
    display: flex;
  }
}

/* sticky teaser */

.teaser--sticky {
  background-color: map-get($ecl-colors, 'grey-10');
  padding-left: map-get($ecl-spacing, 's');
  padding-right: map-get($ecl-spacing, 's');
}

/* Teaser within the Next Events in your group block */
.block-views-blockfut-group-user-events-block-user-events {

  .teaser__content-type-name,
  .fut-paragraph-summary-fut_event {
    display: none;
  }
}

/* Teasers withing the Your latest contributions block */
.block-views-blockfut-my-contributions-block-my-contributions {
  .ecl-date-block {
    background: #fff;
  }

  .ecl-date-block::before {
    border-top: 1.2em solid #f5f5f5;
  }
}