@import '@ecl/generic-base/generic-base';

.teaser--fut-teaser-lite {

  .teaser__header {
    margin-bottom:  map-get($ecl-spacing, 'xxs');
  }

  .teaser__group-name a {
    font-weight: bold;
  }

  h3 {
    line-height: initial;
    margin-bottom: map-get($ecl-spacing, 'xxs');
    margin-top: map-get($ecl-spacing, 'xxs');
  }

  a {
    font-size: map-get($ecl-font-size, 's');
    font-weight: normal;
    line-height: 1.5;
  }

  .teaser__group-name {
    font-size: map-get($ecl-font-size, 's');
  }

  .teaser__footer {
    font-size: map-get($ecl-font-size, 'xs');;
  }


}
