.user-full {
  display: flex;
  flex-direction: row;
}

/* SIDEBAR WITH USER PICTURE */

.user-full__side {
  flex-shrink: 0;
  margin-right: map-get($ecl-spacing, 'm');
}

/* CONTENT */

.fut_bio {
  max-width: 32em;
}

.user-full__content {
  // max-width: 32em;
  h4.label {
    display: inline-block;
    margin: 0;
  }

  .ecl-form-group {
    color: map-get($ecl-colors, 'grey-75');
    margin-bottom: map-get($ecl-spacing, 'm');
    margin-top: 0;
  }

  .ecl-form-group h4 {
    color: map-get($ecl-colors, 'grey-75');
    font-weight: normal;
  }
}

.user-real-name h2 {
  margin-bottom: map-get($ecl-spacing, 'xs');
}

.contact-user {
  @extend .ecl-button;
  @extend .ecl-button--primary;
  
  margin-bottom: map-get($ecl-spacing, 'l');
}

/* GRID */

.test {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-columns: 1fr 1fr;
}


