footer {
    text-align: right;
  }

  footer a.views-display-link {
    @extend .ecl-button;
    @extend .ecl-button--call;
    @extend .ecl-button--caret-right;

    margin-bottom: map-get($ecl-spacing, 's');
    margin-top: map-get($ecl-spacing, 'm');
  }

////////////
// sidebar 
///////////

aside .block-views {
  @include block-background;
  .ecl-list-item {
    border-bottom: 1px solid map-get($ecl-colors, 'grey-25');
  }
}