footer {
  text-align: right;
}

footer a.views-display-link {
  @extend .ecl-button;
  @extend .ecl-button--call;
  @extend .ecl-button--caret-right;

  margin-bottom: 0;
  margin-top: map-get($ecl-spacing, 'm');
}

//////////////////////////////////////////
// blocks in sidebar width grey background
//////////////////////////////////////////

.block-views-blockfut-my-contributions-block-my-contributions,
.block-views-blockfut-group-posts-block-group-most-popular-posts{
  @include block-background;
  .ecl-list-item {
    border-bottom: 1px solid map-get($ecl-colors, 'grey-25');
  }
}

