@import '@ecl/ec-base/variables/index';

.bl-field {
  margin-bottom: map-get($ecl-spacing, 'm');
  &:last-child {
    margin-bottom: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

label{
  display: block;
  font-weight: bold;
  margin-bottom: map-get($ecl-spacing, 'xxs');
}

/* remove margin for address field */

p.address {
  line-height: 1.5rem;
  margin: map-get($ecl-spacing, 'none');
}

.cnect-event-meta .bl-field__content-wrapper {
  color: #404040;
  font-size: 1.125rem;
}
