@import '@ecl/ec-base/variables/index';

.bl-field {
  margin-bottom: map-get($ecl-spacing, 'm');
}

.bl-field:last-child {
  margin-bottom: map-get($ecl-spacing, 'none');
}

label{
  font-weight: bold;
  margin-bottom: map-get($ecl-spacing, 'xxs');
  display: block;
}


/* remove margin for address field */

p.address {
  margin: map-get($ecl-spacing, 'none');
  line-height: 1.5rem;
}
