@import '@ecl/ec-base/variables/index';

.cnect-dropdown .ecl-dropdown__body {
  background-color: map-get($ecl-colors, 'grey-100');
}

.bl-site-header__top-bar .ecl-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.ecl-dropdown__body.cnect-dropdown__body {
  min-width: 300px;
  right: 0;
}

@media (max-width: 575.98px) {
  .bl-site-header__top-bar .ecl-container {
    justify-content: center;
    .ecl-button {
      width: 100%;
    }
    .ecl-dropdown__body.cnect-dropdown__body {
      position: fixed;
      left: map-get($ecl-spacing, 's');
      right: map-get($ecl-spacing, 's');
    }
  }
  .bl-site-header__top-bar .ecl-container > *{
    flex-grow: 1;
  }

  .cnect-login-widget .cnect-dropdown:first-child {
    margin-left: 0;
  }
}
.cnect-dropdown {
  .ecl-button--primary:hover,
  .ecl-button--primary:focus,
  .ecl-button--primary:active {
    background-color: map-get($ecl-colors, 'grey-100');
    border-color: map-get($ecl-colors, 'grey-100');
    color: #fff;
  }


  .ecl-button:focus {
    color: #fff;
    outline: 3px solid map-get($ecl-colors, 'grey-100');
  }

  .ecl-expandable__button[aria-expanded='true'] {
    background-color: map-get($ecl-colors, 'grey-100');
    border-color: map-get($ecl-colors, 'grey-100');
  }
}

