@import '@ecl/ec-base/variables/index';

.bl-site-header__top-bar .ecl-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

ul.menu {
  display: flex;
  list-style: none;  
  margin: 0;
  li {
    margin-right: map-get($ecl-spacing, 'xxs');
    &:last-child {
      margin-right: 0;
    }
  }
}
