{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
<div class="mtec-translation-translate-all-block hidden">
  <div><a class="mtec-translate-all-link ecl-button ecl-button--ghost"></a></div>
  <div><a class="mtec-revert-all-link hidden ecl-button ecl-button--ghost"></a></div>
</div>