@import "variables"; // ( set default variables)

* {
  box-sizing: border-box;
}

html {
  font-size:62.5%;
}

body {
  font-family: $font-family-base;
  font-size: 1.5rem;
  background-color: $white;
  color: $color-shade;
  margin: 0;
  padding: 0;
  line-height: 1.8;

  &.user-not-logged-in {
    /* todo */
  }
}

/*
.wf-active body {
  font-family: $body__font;
  font-weight: $text__font-wight;
}
*/

p, h2, h3, h4, h5, h6, li {
    max-width: 32em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headings__font;
  font-weight: bold;
  line-height: 1.3;
  margin-top: 2.5em;
  margin-bottom: 1em;
}

h1, h2.page-title {
  margin-top: 0;
}


.path-frontpage .block > h3 {
  margin: 1.5rem 0 0 0;
}

@media (min-width: 992px) {
  .path-frontpage .block > h3 {
    margin: 0 0 0 0;
  }
}

h1 + h2,
h1 + h3,
h1 + p,
h2 + h3,
h2 + h4,
h2 + p,
h3 + h4,
h3 + h5,
h3 + p,
h4 + p,
h5 + p,
h6 + p,
{
  margin-top: -0.3em;
}

h4, h5, h6 {
  opacity: 0.9;
}

p:last-child {
  //margin-bottom: 1.3em;
}

p + h2, p + h3, p + h4 {
  margin-top: 1.8em;
}

a {
  box-sizing: border-box;
  color: $color-primary;
  margin: 0;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: #000;
  }

  &:focus {
    outline: 3px solid map-get($colors, 'grey-100');
    outline-offset: 2px;
  }

  &:visited {
    color: map-get($colors, 'purple-100');
  }
}

.general-container {

  &--card {
    height: auto;
    width: 100%;
    max-width: 768px;
    background-color: $color-primary;
    margin: auto;
    text-align: center;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0px 0px 25px map-get($colors, 'grey-75');

  }
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

.general-container--card {
  margin-top: -3.5rem;
}


.background--talk > main {
  min-height: auto;
  float: none;
  width: 100%;
  max-width: 32em;
  margin: auto !important;
  padding: 15px 0px 0px 0px;
  text-align: left;
  background: transparent;
}

.background--talk header a {
  box-shadow: none;
  &:hover {
    box-shadow: none;
  }
}

main *:not(img):not(svg)::selection  {
  color: $white;
  background: #1a3773;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.8), 2px 3px 0 rgba(0,0,0,0.8), 3px 2px 0 rgba(0,0,0,0.8), 4px 2px 0 rgba(0,0,0,0.8);
}

@media (min-width: 768px) {

  body {
    font-size: 1.6rem;

    &.user-not-logged-in {
      margin-top: 0px;
      background-image: url(../images/body-bckgrd--md.svg);
      background-position: 50% 0px,;
      background-size: 100% 80px;
    }
  }

  .general-container--card {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 0;
  }

}

/*
@media (min-width: 992px) {
  .general-container {
    box-shadow: 0px 0px 25px rgba($black, 0.4);
    position: relative;
  }

}
*/



