.form-wrapper {
  /* padding: 0px 15px 30px 15px; */
}

.wf-active input, .wf-active textarea {
  font-family: $body__font;
}

form, .form {

  &__block {
    margin: 1.5rem 0 1rem;
  }

  &__block label, &__fake-label {
    display: block;
    font-weight: 600;
     text-align: left;
    margin-bottom: 0.3em;
  }

  textarea {
    font-family: $body__font;
    min-height: 6rem;
  }

  input[type=text], input[type=email], input[type=password],textarea, .form-date {
    padding: 0.7rem 0.9rem;
    font-size: 1.6rem;
    line-height: 1.8;
    color: $gray-700;
    max-width: 32em;
    width: 100%;
    border: solid 2px $gray-500;
    box-shadow:   inset 0 0 10px rgba(#000, 0.1);
    transition: border-color 0.2s;
    font-family: $body__font;

    &:focus:hover, &:focus {
      outline: none;
      border: solid 2px $purple;
      transition: border-color 0.2s;
    }

    &:hover{
      border-color: $gray-700;
      transition: border-color 0.2s;
    }

    &::placeholder {
      opacity: 0.4;
    }

    &.error {
      border: solid 2px $red;
      transition: border-color 0.2s;
    }

    & + p {
      margin-top: 0.2em;
      transition: border-color 0.2s;
    }




  }



  .form__block--twocol {
    display: flex;
    flex-wrap: wrap;

    > *[class^="form__block--"] {
      flex-basis: 100%;
      width: 100%;;
      flex-grow:1;
      padding: 0rem 0px;
      margin: 0.8rem 0;
    }
  }

  .form__block--toggle, .form__block--checkbox {

    input[type=checkbox] {
      box-sizing: border-box;
    padding: 0;
      margin: 4px 0 0;
        margin-top: 0em;
        opacity: 0;
        z-index: 1;
          position: absolute;
    margin-left: -20px;
    }
  }

  .form__block--submit {
    margin: 2.5rem 0 2rem;
  }

  .form__block--checkbox {

    margin: 1.5rem 0 1rem;

    input[type=checkbox]+label .onoffswitch-inner{
      display: inline-block;
      height: 2.2rem;
      width: 2.2rem;
      background: $white;
      margin: 3px 20px 0 0;
      transition: 0.2s margin;
      border: solid 2px $gray-500;
      position: absolute;
    }

    .label-text {
      margin-left: 3.5rem;
      display: inline-block;
      line-height: 1.5;
    }

    input[type=checkbox]:focus+label .onoffswitch-inner{
       box-shadow: 0px 0px 0px 1px $purple;
       border: solid 2px $purple !important;
    }

    input[type=checkbox]:checked+label .onoffswitch-inner{
      display: inline-block;
      height: 2.2rem;
      width: 2.2rem;
      background: $teal;
      margin: 3px 20px 0 0;
      transition: 0.2s margin;
      border: solid 2px $gray-500;
      position: absolute;

      &:before, &:after {
        position: absolute;
        content: '';
        width: 3px;
        height: 2.7rem;
        background-color: rgba($gray-900, 0.8);
      }

      &:before {
        transform: rotate(45deg);
        margin-left: 7px;
        margin-top: -5px;
      }
      &:after {
        transform: rotate(-45deg);
        margin-left: 7px;
        margin-top: -5px;
      }
    }
  }

    .form__block--toggle {
     margin: 1.5rem 0 1rem;

    input[type=checkbox]+label:before{
      background-color: #FFF;
      background-size: 40rem 20rem;
      content: "";
      width: 3.9rem;
      height: 1.9rem;
      display: inline-block;
      margin-right: -40px;
      margin-top: 3px;
      border-radius: 20px;
      border: solid 2px $gray-400;
      transition: background-color .2s;
      box-shadow:   inset 0 0 10px rgba(#000, 0.2);
      position: absolute;
    }

     input[type=checkbox]:focus+label:before{
       box-shadow: 0px 0px 0px 1px $purple;
       border: solid 2px $purple !important;
    }

    input[type=checkbox]:checked+label:before{
      background-color: $teal;
      transition: background-color .2s;
      border: solid 2px rgba(#000, 0.2);
    }

    input[type=checkbox]:checked+label .onoffswitch-inner{
      display: inline-block;
      background: $gray-200;
      margin: 3px 0 0 20px;
      border: solid 2px $gray-500;
      height: 2.2rem;
      width: 2.2rem;
    }

    input[type=checkbox]+label .onoffswitch-inner{
      display: inline-block;
      height: 2.2rem;
      width: 2.2rem;
      background: $gray-200;
      margin: 3px 20px 0 0;
      transition: 0.2s margin;
      border-radius:  1rem;
      border: solid 2px $gray-500;
      position: absolute;
    }

    .label-text {
      margin-left: 5rem;
    }

  }
}

.js .form__input--file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .form__input--file + label {

      padding: 0.7rem 0.9rem;
    font-size: 1.6rem;
    color: $gray-700;
    max-width: 32em;
    width: 100%;
    border: solid 2px $gray-500;
    box-shadow:   inset 0 0 10px rgba(#000, 0.1);

    &:focus {
      outline: none;
      border: solid 2px $purple;
    }

        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
    }

    .no-js .form__input--file + label {
        display: none;
    }

    .form__input--file:focus + label,
    .form__input--file.has-focus + label {
        outline: none;
      border: solid 2px $purple;

    }

    .form__input--file + label * {
        /* pointer-events: none; */
        /* in case of FastClick lib use */
    }

.form__input--file + label .form__label--file {
  background-color: $gray-600;
  color: $white;
  text-align: right;
  float: right;
  transition: background-color 0.2s;
  transition: color 0.2s;
}

.form__input--file:hover + label .form__label--file {
  background-color: $gray-700;
  color: rgba($white, 0.9);
  transition: background-color 0.2s;
  transition: color 0.2s;
}

.form__input--file:focus + label .form__label--file {
  background-color: $purple;
  color: rgba($white, 0.9);
  transition: background-color 0.2s;
  transition: color 0.2s;
}

.form__input--file + label .form__input--selected{
  text-align: left;
}

    .form__input--file + label {
          color: $gray-700;
      }

      .form__input--file + label {
          border: solid 2px $gray-500;
          box-shadow:   inset 0 0 10px rgba(#000, 0.1);
          transition: border-color 0.2s;
          background-color: $white;
          padding: 0;
      }

      .form__input--file + label:hover {
          border-color: $gray-700;
        transition: border-color 0.2s;
      }

      .form__input--file + label span,
      .form__input--file + label strong {
          padding: 0.7rem 1.25rem;
          /* 10px 20px */
      }

      .form__input--file + label span {
          min-height: 2em;
          display: inline-block;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          vertical-align: top;
      }

/* chosen */

.chosen-container.error .chosen-single,
.chosen-container.error .chosen-single span {
  line-height: inherit;
}

.chosen-container-single .chosen-search {
  display: block;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: auto;
}

.chosen-container {
  display: block !important;
}
.container-inline div.chosen-container div {
  display: block;
}

/* Error handling. */
.chosen-container.error .chosen-choices,
.chosen-container.error .chosen-single {
  border: 2px solid red;
}

.filter-wrapper {
  overflow: visible !important;
}

.filter-wrapper:after {
  content: "";
  display: block;
  clear: both;
}

/* Registration (city) Autocomplete */

ul.ui-menu {
  z-index: 2000;
  margin: 0;
  padding: 0;

  li.ui-menu-item {
    list-style: none;
    width: 100%;
    max-width: none;
  }

  li.ui-menu-item a {
    text-shadow: none;
    x-webkit-box-shadow: none;
    box-shadow: none;
    padding: 0.5rem 0.7rem;
  }

  a.ui-menu-item-wrapper {
    display: block;
  }

  .ui-state-focus,
  .ui-state-active {
    margin: 0;
  }

  .ui-menu-item-wrapper.ui-state-active {
    background: #662D91 !important;
    border: none;
    color: #fff;
  }

}

.form-item-city, #city-wrapper {
  margin: 0;
  padding: 0;
}

/* End Registration (city) Autocomplete */

/* drag & drop images */

.fiu-add-element .form-type-managed-file--advanced label {
  height: 140px;
}


@media (min-width: 578px) {
  .form .form__block--twocol {
    display: flex;
    flex-wrap: wrap;

    > *[class^="form__block--"] {
      flex-basis: 50%;
      width: calc(50% - 15px);
      flex-grow:1;
    }

    > *[class^="form__block--"]:nth-child(odd) {
      padding-right: 15px;
    }
  }
}

@media (min-width: 768px) {
  .form-wrapper {
    padding: 0px 0px 30px 0px;
  }

  main.form-wrapper {
    padding: 75px 15px 30px 15px;
  }
}
