

.list--file, .list--event {
  padding: 0;

  .list__item--file, .list__item--event {
    list-style: none;
    background: transparent no-repeat left top;
    background-size: 32px 38px;
    padding-left: 45px;

    &.list__item--pdf {
      background-image:  url(../images/file--pdf.jpg);
    }
    &.list__item--url {
      background-image:  url(../images/file--url.jpg);
    }

    p {
      margin: 0 0 0.8rem 0;
    }
  }
  
  .list__item--event {
    background-image:  url(../images/article--event-icon.svg);
  }
}

.list--flex-space-evenly {
  display: flex;
  justify-content: center;
}

.list--taxonomy {
  padding: 0;
  line-height: 2.3;
  
  .list__item--tag {
    display: inline-block;
    margin: 0.1rem 0.5rem 0.3rem 0;
  
    &::last-child {
      margin-right: 0;
    }
  }
  
}

.list--social-share {
  padding: 0;
  
  .list__item--social-media {
    display: inline-block;
    
    margin-right: 1.8rem;

    &:last-child {
      margin-right: 0rem;
    }
  }
}

@media (min-width: 768px) { 
  
  .list--social-share {
    display: flex;
    flex-wrap: wrap;
  
  
  .list__item--social-media {
    width: calc( 50% - 3.6rem);
    flex-grow: 1;
    padding: 0.5rem 0;
    
    &:last-child {
      margin-right: 1.8rem;
    }
  }
    }
}