{#
/**
 *
 * TODO: Do we really need this file? Check and remove.
 * @file
 * Theme override for the OE Corporate blocks wrapper.
 *
 * @see ./core/themes/stable/templates/block/block.html.twig
 *
 */
#}
<h1>Do we need/render this?</h1>
{% include '@blellow/blocks/block--bare.html.twig' %}
