{#
- "tags" (array) (default: []):
      - "label" (string) (default: ''): label tag
      - "value" (string) (default: ''): #number tags 
      - "href" (string) (default: ''): if not provided, a <span> would be printed
#}

{# Provides almost same as generic-component-tag.twig but span with number is missing there #}

{% if tags is not empty and tags is iterable %}
  {% for tag in tags %}
    {% if tag.href is defined and tag.href is not empty %}
      <a class="ecl-tag__item" href="{{ tag.href }}">{{ tag.label }}<span class="tags-number"> ({{ tag.value }})</span></a>
    {% else %}
      <span class="ecl-tag__item">{{ tag.value|default('') }}</span>
    {% endif %}
  {% endfor %}
{% endif %}
