{% set href = '' %}
{% set lbl = '' %}
{% set variant = '' %}	

{% for item in items %}
  {% set href = item.content['#url'] %}
  {% set lbl =  item.content['#title'] %}
  {% set variant = item.content['#options'].external %}
{% endfor %}

{% if variant is not empty and variant == '1' %}
  {% set variant = 'external' %}
{% endif %}

{% if href is not empty %}
	<div class="bl-field bl-group-registration-link">
		<div class="bl-field-label"><label>{{ label }}</label></div>
	  {% include '@ecl/ec-component-link' with {
	 	'variant': variant, 
		'href': href,
		'label': lbl,
	  } only %}  
	</div>
{% endif %}