.cnect-event-meta {
  // TODO: Get the values from variables
  background: #f3f3f3;
  border: 1px solid #ececec;
  border-radius: 3px;
  margin: 0;
  padding: 1.5rem;
}

.cnect-event-meta > legend {
  display: none;
}
