.cnect-dropdown p,
.cnect-dropdown a {
  color: #fff;
}

.ecl-dropdown.cnect-dropdown {
  margin-left: 5px;
}

.cnect-dropdown .ecl-dropdown__body {
  padding: 15px;
}

/* TODO: Find a better place. Some of these rules are related to the layout and not the widget */
.cnect-site-header__top-bar .ecl-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.ecl-dropdown__body.cnect-dropdown__body {
  min-width: 300px;
  right: 0;
}

.cnect-dropdown__body > * {
  margin: 15px 0;
}

.cnect-dropdown__body > *:first-child {
  margin-top: 0;
}

.cnect-dropdown__body > *:last-child {
  margin-bottom: 0;
}

.cnect-dropdown__body a:hover {
  color: #fff;
  text-decoration: none;
}

.cnect-dropdown__title {
  font-weight: bold;
  margin: 15px 0;
  padding: 0;
}

.cnect-dropdown__separator {
  color: #fff;
}
