{#
/**
 * @file
 * Default theme implementation for rendering corporate blocks register.
 *
 * Available variables:
 *   - none
 *
 * @see template_preprocess_corporate_blocks_register()
 *
 * @ingroup themeable
 */
 #}

<div class="cnect-register-widget">

    <div class="ecl-dropdown cnect-dropdown" id="cnect-dropdown-register">

        <button type="button"
                id="cnect-expandable-button-register"
                class="ecl-button ecl-button--primary ecl-expandable__button"
                aria-controls="cnect-button-dropdown-register" aria-expanded="false">Register</button>

        <div id="cnect-button-dropdown-register"
             class="ecl-link-block ecl-dropdown__body cnect-dropdown__body"
             aria-labelledby="cnect-expandable-button-register" aria-hidden="true">

            <p class="cnect-dropdown__title">Register to Futurium</p>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="privacy-policy">
                <label class="form-check-label" for="privacy-policy">Accept the European Commission's <a href="#" class="ecl-link">privacy policy.</a></label>
            </div>
            <button type="button" class="ecl-button ecl-button--call ecl-button--caret-right">Register with EU Login</button>
        </div>
    </div>

</div>